body {
    display: flex;
    flex: 1;
    position: relative;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.banner {
    display: flex;
    flex: 1;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.welcome-text {
    display: block;
    justify-content: center;
    align-items: center;

}

.links-ribbon {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
}